
.weather-content {
  background:#F1F4F5;
  flex: 1 1 550px;
  padding: 20px;
  min-width: ;

}

.weather-info {
  
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: white;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  padding: 20px;

}
.weather-content span {
  font-size: 25px;
}

.weather-info__descr {

  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.weather-info__descr > img {
  position: relative;
  right: 25px;
}
.weather-info__temp {
  flex: 1 1 40%;
}
.weather-info__temp > span{
  font-size: 72px;
}
.weather-info__temp > span:last-child{
  font-size: 55px;
}
.weather-info__aux {
  flex: 1 1 30%;
  text-align: right;
}
.weather-info__img{
  width: 150px;
  height: auto;
}


.weather-info__forcast {
	margin-top: 20px;

	 
 	align-items: center;
  	background: white;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	padding: 20px;

	
	

}

.forecast__container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

	
}

.forecast__container > div {

  background: #999;
  border: 1px solid grey;
  width: 13%;
   margin-bottom: 15px;
}
.forecast__container > div span {
  font-size: 16px;
  display: block;
}
@media (max-width: 1200px) {
  .forecast__container >div{
    width: 48%;
  }
}
@media (max-width: 1000px) {
  .forecast__container >div{
    width: 100%;
  }
}
@media (max-width: 750px) {
  .forecast__container >div{
    flex: 1 1 100%;
  }

}


