
.weather-content {
  background:#F1F4F5;
  flex: 1 1 550px;
  padding: 20px;
  min-width: ;

}

.weather-info {
  
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  
  align-items: center;
  background: #40a9ff;
  color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  padding: 20px;

}
.weather-content span {
  font-size: 25px;
}

.weather-info__descr {

  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.weather-info__descr > img {
  position: relative;
  right: 25px;
}
.weather-info__main {

  flex: 1 1 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}


.weather-info__name {
  font-size: 22px!important;
  font-weight: bold;
}
.weather-info__time {
  font-size: 22px !important;
  font-weight: bold;
}
.weather-info__degree {
  font-size: 130px !important;
}

.weather-info__descr {
  font-size: 22px !important;
  font-weight: bold;
  text-align: center;
}
.weather-info__aux {
  flex: 1 1 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.weather-info__aux > div {

}
.weather-info__aux__block {
  position: relative;
}
.weather-info__aux__block span:last-child {
  font-size: 0.85rem;
  position: absolute;
  top: 9px;
  left: 60px;
}

.weather-info__aux__number {
  font-weight:bold;
  font-size: 40px !important;
}

.weather-info__forcast {
	margin-top: 20px;
  align-items: center;
  background: white;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	padding: 20px;
}
.weather-info__forcast--toggle {
  display: none;
}

.forecast__container {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

	
}

.forecast__container > div {

  background: #999;
  border: 1px solid grey;
  width: 13%;
   margin-bottom: 15px;
}
.forecast__container > div span {
  font-size: 16px;
  display: block;
}
@media (max-width: 1200px) {
  .forecast__container >div{
    width: 48%;
  }
}
@media (max-width: 1000px) {
  .forecast__container >div{
    width: 100%;
  }
}
@media (max-width: 750px) {
  .forecast__container >div{
    flex: 1 1 100%;
  }

}


