.filters {
	
	
	position: relative;
	flex: 0 0 230px;
  	padding: 20px;
  	height: 100%;
  	

  	
}

.filter {
	display: flex;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    margin-bottom: 5px;

}
.filter > span {
	
	display: inline-block;
	padding: 8px;
	width: 50%;
	cursor: pointer;
	user-select: none;

}
.filter__active {
	background: #1890ff;
	color: #fff;
}
.filter__active:hover {
	background: #40a9ff;
	border-color: #40a9ff;
}
.filters--toggle {
	background: white;
	
	position: absolute;
	right: -230px;
	transition: 1s;


}

.toggle-filters {
	text-align: center;
	position: absolute;
	bottom: 50%;
	right: 90%;
	
}
.filters__forecast {
	font-size: 1.2rem;
}
input[type=checkbox] {
	zoom: 1.5;
}
.arrow-icon {
	color:#1890ff;
	font-size: 50px;
}
.arrow-icon:hover {
	color: #40a9ff;
	transition: all 0.1s;
}

@media (max-width: 750px) {
	
}